.box1{

  position: left 20px;
  justify-content: left;

color: aliceblue;
      }
.box2{
  position:right
  ;
/* display: flex; */


  border-radius: 20px;
  border : 2px rgb(235, 233, 233);
  border-style: solid;
  

  color: aliceblue;
}
.container{
  
  
 
  background-color: #000020;
}
.t1{
  text-align: right;
  
}
.t1{
  text-align: center;}
.bcolor{
  background-color: #000020;
}
#img1{
  height: 200px;
  width: 300px;
}
#flexcontainer{
   display: flex;
}