
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100%;
  background-color: #000020;
}

*{
  margin: 0;
  font-family: "Rubik";
}

.header { 
  display: flex;
  background: #000020; 
  height: 75px;
  align-items: center;
  justify-content: space-between;
  
  #logo {
    float:left;
    margin:0;
    width: 15%;
    margin-left: 50px;
  }
  
  #navlist {
    float: center;
    
    li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    }
      a{
        line-height: 50px;
        height: 75px;
        font-size: 26px;
        text-decoration: none;
        font-family: "Rubik";
        color: rgb(255, 255, 255);
      }
      a:active{
        text-decoration: none;
        background: linear-gradient(to right, #ffbd23, #fd7201);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
      a:hover{
        text-decoration: none;
        background: linear-gradient(to right, #ffbd23, #fd7201);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
      a:visited{
        text-decoration: none;
      }
    
  }
.btns{
  display: flex;
  align-items: center;
  justify-content: end;
}

.login {
  font-size: 20px;
  margin-right: 10px;
  height: 50px;
  width: 100px;
  display: block;
  line-height: 50px;
  background: linear-gradient(90deg,#ffbd23 3%, #fd7201 53%,#ffbd23 97%);
  text-align: center;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.001);
  transition: 0.5s all;
  position: relative;
  cursor: pointer;
  background-size: 200% 100%;
  background-position: left center;
}

.login:before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(90deg, #ffbd23 3%, #fd7201 47%,#ffbd23 97%);
    transition: 0.5 all;
    z-index: -1;
    background-size: 200% 100%;
    background-position: left center;
}

.login:after {
    background: rgb(24,24,24);
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.login:hover,
.login:hover:before {
  background-position: right center;
}

  .signup{
    display: inline-block;
    position: relative ;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
    z-index: 9;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 50px;
    background: linear-gradient(to right, #ffbd23, #fd7201);
  } 
  
  .signup-helper{
    position: absolute;
    height: 50px;
    width: 100px;
    margin-left: -15px;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;
    background: linear-gradient(to right, #fd7201,#ffbd23);
  }
  .signup:hover .signup-helper{
    opacity: 1;
}

}

.poster {
  background-color: #000020;
  background-image: url("/images/landingpagepic2.jpg");
  background-size: cover;
  background-position: center;
  height: 55vh; 
}

.content{
  width: 100%;
  height: 100%;
  color: white;
  background-color: #000020;
  position: relative;
}
.content .par{
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  height: 100%;
  width: 700px;
  padding-left: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 35px;
}

.content h1{
  font-size: 20px;
  padding-left: 20px;
  letter-spacing: 2px;

}

.content img{
  margin-top: 20px;
  margin-left: 20px;
  width: 25%;
}

.cn{
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  width: 160px;
  height: 50px;
  z-index: 9;
  text-decoration: none;
  color: #000000;
  background: linear-gradient(to right, #ffbd23, #fd7201);
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}
.cn-helper{
  position: absolute;
  width: 160px;
  height: 50px;
  z-index: -1;
  margin-left: -40px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s linear;
  background: linear-gradient(to right, #fd7201,#ffbd23);
}
.cn:hover .cn-helper{
  opacity: 1;
}

.content span{
  color: orange;
  font-size: 60px;
}
